<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top pt-3">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
		<img src="../../src/logo.png" alt="logo" width="35" height="35" class="d-inline-block align-text-top">
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
			<div class="d-flex">
				<ul class="navbar-nav" style="font-family:'Dolbomche_B';">
					<li class="nav-item">
						<a class="nav-link active"  href="/survey">알레르기 타입 알아보기</a>
					</li>
					<li class="nav-item">
						<a class="nav-link ml-3" href="/menu">| 식단표 보기</a>
					</li>
					<li class="nav-item">
						<a class="nav-link ml-3" href="/replacement">| 대체식단 보기</a>
					</li>
					<li class="nav-item">
						<a class="nav-link ml-3" href="/info">| 대표적 식이제한자 알아보기</a>
					</li>
					<li class="nav-item">
						<a class="nav-link ml-3" href="/about">| About us</a>
					</li>
				</ul>
			</div>
		
		</div>
	</div>
</nav>