<% layout('layouts/boilerplate')%>

<style>

	div{
		padding: 0 0 0 0;
		margin: 0 0 0 0
	}	
</style>


<div class="d-flex row justify-content-center">
	<img class="justify-content-center d-flex" src="../src/about_1.png" style="width:100%; height:40%;">
	<img class="justify-content-center d-flex" src="../src/about_2.png" style="width:80%; height:100%;">
	<img class="justify-content-center d-flex" src="../src/about_3.png" style="width:100%; height:100%;">
	<img class="justify-content-center d-flex" src="../src/about_4.png" style="width:80%; height:70%;">
	<img class="justify-content-center d-flex" src="../src/about_5.png" style="width:80%; height:100%;">
	<img class="justify-content-center d-flex" src="../src/about_6.png" style="width:80%; height:100%;">
	
</div>
		