<% layout('layouts/boilerplate')%>

<style>

	.list-group-item:hover{
		background-color:#FFC300;
		color:white;
		font-weight:200;
	}
	
	

</style>


<div>

    <div class="d-flex row">
        <div
            class="d-flex row justify-content-center mb-5"
            style="
                background-image: url('../src/info_top.jpg');
                width: 100%;
                height: 35vh;
                background-size: cover;
            "
        >
            <p
                class="d-flex justify-content-center align-items-center mt-5"
                style="
                    font-size: 2.5rem;
                    font-family: 'Dolbomche_B';
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                "
            >
                ALF와 함께하는 식이제한자 알아보기
            </p>
        </div>
		
<div id="list-example" class="list-group sticky-top col-1  ml-5 py-0">
  <a class="list-group-item list-group-item-action" style="text-align:center; font-family: 'Dolbomche_B';" href="#list-item-1">식품알레르기</a>
  <a class="list-group-item list-group-item-action" style="text-align:center; font-family: 'Dolbomche_B';" href="#list-item-2">식품 불내증</a>
  <a class="list-group-item list-group-item-action" style="text-align:center; font-family: 'Dolbomche_B';" href="#list-item-3">채식주의자</a>
  
</div>
		
		
        <div class="d-flex row justify-content-center container">
						
			
			
			
            <div class="col-7 d-flex row container justify-content-center">
				
			
                <div class="d-flex row justify-content-center container scrollspy-example" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="1" tabindex="0">
					
					
                    <p
                        class="my-5"
                        style="font-size: 3rem; font-family: NanumSquareRound; text-align: center;"
					    id="list-item-1"
                    >
                        <b>식품알레르기</b>
                    </p>
					<br /><br /><br /><br /><br /><br />
				
                    <p class="my-3 px-5" style="font-size: 1.5rem; font-family: NanumSquareRound;">
                        <b>알레르기는 단순히 예민한 것이 아닙니다.</b>
                    </p>
                    <br /><br />

                    <p
                        style="font-size: 1.2rem; font-family: NanumSquareRound; line-height: 40px;"
                        class="px-5 mb-5"
                    >
                        단순히 음식을 가린다거나 음식에 대해 예민한 것이라고 생각하기 쉬운 식품
                        알레르기는 본인의 의사와는 관계없는 엄연한 질환입니다. 알레르기란 ‘변형된
                        것’을 뜻하는 그리스어 ‘allos’에서 유래된 단어로서
                        <b>체내 면역체계의 과민반응으로 인해 나타나는 증상</b>을 일컫습니다.

                        <br />인체의 면역체계는 생체에 접하는 외래성 물체 중 해로운 것들을 찾아내고
                        제거하는 역할을 합니다. 간혹 특정 물질에 대하여 면역반응이 민감하게
                        일어나거나 반응이 변형되어 일어나는 경우가 있는데 이를 ‘알레르기’라고
                        합니다.

                        <br />그리고 알레르기가 식품 성분에 의해 발현된 경우가 바로 ‘식품
                        알레르기‘입니다. 보통 사람들은 아무렇지도 않게 섭취하는 음식에 대해서 식품
                        알레르기 보유자들은 과민성 면역반응을 보이고 두드러기 등의 증상이 나타나게
                        됩니다.
                    </p>
                    <br /><br />

                    <p class="my-3 px-5" style="font-size: 1.5rem; font-family: NanumSquareRound;">
                        <b>목숨을 위협할 수 있는 알레르기</b>
                    </p>
                    <br /><br />

                    <p
                        style="font-size: 1.2rem; font-family: NanumSquareRound; line-height: 40px;"
                        class="px-5 mb-5"
                    >
                        <b
                            >알레르기로 인한 가장 극단적 증상인 ’아나필락시스‘는 심한 경우 사망으로
                            이어질 수도 있습니다.</b
                        >
                        아나필락시스는 알레르기 때문에 생긴 급성 전신 반응을 뜻합니다.
                        <br />알레르기 원인 물질에 노출되면 염증반응이 일어나면서 이로 인해
                        두드러기, 호흡곤란 등의 증상이 나타나는데 이때 호흡이 가빠지고, 급격하게
                        혈압이 떨어져 치사성 쇼크가 일어날 수가 있습니다.
                    </p>
                    <br /><br />

                    <img src="../src/info_1.png" class="my-5 d-flex justify-content-center" style="width: 50vw; height: 55vh;" />
                    <p
                        class="d-flex justify-content-center mb-5"
                        style="font-family: NanumSquareRound; font-size: 1.2rem;"
                    >
                        (출처: VISTULA CLINIC)
                    </p>

                    <p class="my-3 px-5" style="font-size: 1.5rem; font-family: NanumSquareRound;">
                        <b>얼마나 식품 알레르기를 보유하고 있을까요?</b>
                    </p>
                    <br /><br />

                    <p
                        style="font-size: 1.2rem; font-family: NanumSquareRound; line-height: 40px;"
                        class="px-5 mb-5"
                    >
                        식품 알레르기 유병률에 대한 조사는 국내 논문마다 편차가 커서 정확한 유병률이
                        집계되지는 않습니다. 그러나 중학생을 대상으로 하는 논문들에서 약 5%의
                        유병률이 조사됐고, 식품 알레르기는 생후 1~2년에 발생하여 성인이 될 때까지
                        조금씩 줄어드는 점으로 미루어보아
                        <b
                            >국내 성인의 약 2~4%가 식품 알레르기를 보유하고 있는 것으로
                            추정됩니다.</b
                        >
                    </p>
                    <br /><br />

                    <p class="my-3 px-5" style="font-size: 1.5rem; font-family: NanumSquareRound;">
                        <b>이런 음식들로부터 많이 발병해요</b>
                    </p>
                    <br /><br />

                    <p
                        style="font-size: 1.2rem; font-family: NanumSquareRound; line-height: 40px;"
                        class="px-5 mb-5"
                    >
                        한국인에게 발병하기 쉬운 식품 알레르기 종류는 총 22가지가 있습니다. 그중
                        대표적인 것으로는 달걀, 우유, 땅콩, 대두, 밀, 복숭아, 토마토, 생선,
                        돼지고기, 새우 등이 있어요. 유아기에는 달걀이나 우유에 민감하고 성인이
                        되면서 갑각류, 견과류, 밀가루 등에 주로 반응한다고 알려져 있습니다.

                        <br />ALF는 이 중에서 남녀가 공통으로 높은 유병률을 보인 식품 4가지에다가
                        우유와 밀을 더해
                        <b
                            >고등어, 돼지고기, 닭고기, 복숭아, 우유, 밀을 서비스 대상 항원 품목으로
                            선정했습니다.</b
                        >
                    </p>
                    <br /><br />

                    <img
                        src="../src/info_2.png"
                        class="mt-5 mb-5"
                        style="width: 50vw; height: 50vh;"
                    />
                    <p
                        class="d-flex justify-content-center"
                        style="font-family: NanumSquareRound; font-size: 1.2rem;"
                    >
                        (출처: meinbezirk.at)
                    </p>

                    <br /><br /><br /><br /><br /><br />
                    <p
                        class="my-5"
                        style="font-size: 3rem; font-family: NanumSquareRound; text-align: center;"
					    id="list-item-2"
                    >
                        <b>식품 불내증</b>
                    </p>
                    <br /><br /><br /><br /><br />

                    <p class="my-3 px-5" style="font-size: 1.5rem; font-family: NanumSquareRound;">
                        <b>식품 알레르기와 다른 식품 불내증</b>
                    </p>
                    <br /><br />

                    <p
                        style="font-size: 1.2rem; font-family: NanumSquareRound; line-height: 40px;"
                        class="px-5 mb-5"
                    >
                        식품 불내증은 식품섭취로 인해 신체에 이상이 발생한다는 점에서 알레르기와
                        유사해 자칫 이 둘을 혼동할 수가 있습니다. 하지만 이 둘은 전혀 다른
                        증상입니다. 식품 알레르기는 신체의 면역 기능이 반응하여 나타나는 것이고
                        반면에
                        <b
                            >식품 불내증은 면역 기능과는 별개로 특정 식품을 소화하는 효소가 부족해서
                            발생하는 질병입니다.</b
                        >

                        <br />불내증 보유자가 불내증 유발 식품을 섭취하게 되면 해당 성분이 몸에서
                        소화, 흡수되지 못하고 장에 남아 염증을 일으킵니다. 염증에 의해 손상된 장
                        점막으로 유해균이 침범해 추가적인 질병을 일으키기 쉽고, 설사를 유발해 탈수
                        증세가 나타나기도 합니다. 식품 불내증의 명확한 원인은 밝혀지지 않았지만,
                        유전적 요인이 큰 것으로 추측됩니다.
                    </p>
                    <br /><br />

                    <p class="my-3 px-5" style="font-size: 1.5rem; font-family: NanumSquareRound;">
                        <b>한국인의 75%는 우유를 제대로 소화하지 못해요.</b>
                    </p>
                    <br /><br />

                    <p
                        style="font-size: 1.2rem; font-family: NanumSquareRound; line-height: 40px;"
                        class="px-5 mb-5"
                    >
                        식품 불내증의 대표적인 종류는 유당 불내증과 글루텐 불내증입니다. 유당 불내증
                        보유자들은 유당(젖당)을 소화 시키는 효소인 유당 분해효소(lactase)가 부족해서
                        유제품을 소화함에 어려움을 가집니다. 소수의 선천적 유당 불내증자들을
                        제외하고는 대부분 후천적으로 유당 불내증을 앓게 되는데, 영아기 때는 풍부한
                        소장 내 젖당분해효소가 이유기를 거치며 점차 감소함이 원인으로 작용합니다.
                        <br />유당 불내증은 유전적 요인이 크게 작용해 인종별로 유병률이 크게
                        상이합니다. 유렵과 북미에 비해 아시아계에서 많이 발생하며
                        <b
                            >우리나라에서도 인구의 약 75%가 유당 불내증을 가진 것으로 알려져
                            있습니다.</b
                        >

                        <br />유당 불내증의 증상이 경미한 경우에는 우유를 직접적으로 섭취하지
                        않음으로써 간단하게 불내증을 예방할 수 있습니다. 하지만 고위험 증상자는
                        치즈, 버터, 요거트 등 발효과정을 거친 저유당 제품에서도 증상이 발현될 수
                        있어 유제품을 전반적 멀리하는 게 좋습니다.
                    </p>
                    <br /><br />

                    <img
                        src="../src/info_3.png"
                        class="mt-5 mb-5"
                        style="width: 50vw; height: 50vh;"
                    />
                    <p
                        class="d-flex justify-content-center"
                        style="font-family: NanumSquareRound; font-size: 1.2rem;"
                    >
                        (출처: Bosch Thermotechnik Gewerbe & Industrie)
                    </p>

                    <p class="my-3 px-5" style="font-size: 1.5rem; font-family: NanumSquareRound;">
                        <b>글루텐 프리 제품에 대한 맹신</b>
                    </p>
                    <br /><br />

                    <p
                        style="font-size: 1.2rem; font-family: NanumSquareRound; line-height: 40px;"
                        class="px-5 mb-5"
                    >
                        글루텐이란 밀, 호밀, 보리 등에서 발견되는 단백질로 글루텐 불내증은 글루텐을
                        섭취한 후 나타나는 더부룩함, 구토, 설사 등의 증상이 나타나는 것을 칭합니다.
                        <b
                            >동양인이 흔하게 겪는 유당 불내증과는 달리 글루텐 불내증은
                            아시아계에서는 드물게 나타나는 증상으로 글루텐 관련 극성 장애인
                            셀리악병은 국내에서 발병한 사례가 단 1건뿐입니다.</b
                        >

                        <br />심지어 일부 소비자는 글루텐 프리 제품을 유기농이나 다이어트 제품으로
                        오인하기그러나 글루텐 프리 제품시장은 국내 유병률에 비해 상당히 큰 규모를
                        가지고 있는데, 이는 글루텐이 몸에 해롭다는 낭설 때문에 글루텐 프리 시장이
                        각광받았기 때문입니다.

                        <br />막연히 유해하다고 생각하기 쉬운 글루텐은 사실 글루텐 민감증을 앓는
                        사람을 제외하고는 인체에 악영향을 미치지 않고 글루텐을 제외하는 과정에서
                        오히려 당류나 탄수화물이 강화되거나 필요한 영양분이 손실될 수 있습니다.
                        <b
                            >별다른 이유 없이 글루텐을 기피하는 것은 영양 불균형을 초래하기 때문에,
                            글루텐 시장의 유행을 마구잡이로 쫓는 것을 주의해야 합니다.</b
                        >
                    </p>
                    <br /><br />

                    <img
                        src="../src/info_4.png"
                        class="mt-5 mb-5"
                        style="width: 50vw; height: 40vh;"
                    />
                    <p
                        class="d-flex justify-content-center"
                        style="font-family: NanumSquareRound; font-size: 1.2rem;"
                    >
                        (출처: elespanol)
                    </p>

                    <br /><br /><br /><br />
                    <p
                        class="my-5 py-5"
                        style="font-size: 3rem; font-family: NanumSquareRound; text-align: center;"
					    id="list-item-3"
                    >
                        <b>채식주의자</b>
                    </p>
                    <br /><br /><br /><br /><br /><br />

                    <p class="my-3 px-5" style="font-size: 1.5rem; font-family: NanumSquareRound;">
                        <b>고기를 먹는 채식주의자도 있나요?</b>
                    </p>
                    <br /><br />

                    <p
                        style="font-size: 1.2rem; font-family: NanumSquareRound; line-height: 40px;"
                        class="px-5 mb-5"
                    >
                        채식주의자(베지테리언)에 대한 가장 큰 오해 중 하나는 바로 모든 채식주의자를
                        비건과 동일시 하는 것입니다.
                        <b>채식주의자는 허용하는 음식 종류에 따라 여러 가지로 구분되는데</b>, 그중
                        비건은 채소, 과일, 해초 따위의 식물성 음식만을 섭취하며 우유, 달걀, 꿀 등
                        동물에게서 얻은 식품을 일절 거부하는 극단적 채식주의자입니다.

                        <br />이외에도 락토 베지테리언은 육류와 어패류, 동물의 알(달걀 등)은 먹지
                        않고 우유, 유제품, 꿀을 먹으며 오보 베지테리언은
                        육류·생선·해물·우유·유제품은 먹지 않지만 달걀은 먹는 채식주의자를 뜻합니다.

                        <br />채식주의자 중에서 고기를 먹는 부류는 페스코, 폴로, 플렉시블
                        베지테리언이 있습니다. 페스코 베지테리언은 채식을 하면서 유제품, 가금류의
                        알, 어류를 먹고 플로 베지테리언은 채식을 하면서 우유, 달걀, 생선, 닭고기까지
                        먹는 준 채식주의자를 이릅니다.
                        <b
                            >플렉시블 베지테리언처럼 채식을 기본으로 하나 이따금 생선, 조류와
                            육류까지도 먹는 채식주의자도 있습니다.</b
                        >
                    </p>
                    <br /><br />

                    <img
                        src="../src/info_5.png"
                        class="mt-5 mb-5"
                        style="width: 50vw; height: 50vh;"
                    />
                    <p
                        class="d-flex justify-content-center"
                        style="font-family: NanumSquareRound; font-size: 1.2rem;"
                    >
                        (출처: seeHint.com)
                    </p>

                    <p class="my-3 px-5" style="font-size: 1.5rem; font-family: NanumSquareRound;">
                        <b>비건은 맛의 즐거움을 포기하고 살아야 될까?</b>
                    </p>
                    <br /><br />

                    <p
                        style="font-size: 1.2rem; font-family: NanumSquareRound; line-height: 40px;"
                        class="px-5 mb-5"
                    >
                        육류의 섭취가 제한되는 채식주의자, 개중에서도 비건은 삼시 세끼를 샐러드만
                        먹고 산다는 이미지가 강합니다. 하지만 식물성 재료만으로도 충분히 훌륭한 맛의
                        식사를 만들 수가 있습니다. 두부를 재료로 하는 스테이크, 고기를 배제한 만두,
                        식물성 원료만을 사용한 빵 등 맛있게 즐길 수 있는 채식 요리가 많이 개발되고
                        있고 비건들은 이를 SNS나 식품 플랫폼을 통해 공유하며 맛과 채식을 모두 놓치지
                        않고 있습니다.
                    </p>
                    <br /><br />

                    <p class="my-3 px-5" style="font-size: 1.5rem; font-family: NanumSquareRound;">
                        <b>커져가는 채식 시장</b>
                    </p>
                    <br /><br />

                    <p
                        style="font-size: 1.2rem; font-family: NanumSquareRound; line-height: 40px;"
                        class="px-5 mb-5"
                    >
                        채식 식단이 다양화되고 채식에 대한 관심이 커지면서 비건 푸드가 주류
                        음식문화로 자리 잡은 요즘 채식 시장의 규모는 나날이 커져가고 있습니다. ’The
                        Street‘에 따르면 세계 채식 시장은 매해 두 자릿수 성장세를 보이며, 2020년에만
                        50억 달러의 가치를 가진 것으로 전망됐습니다.
                        <br />특히 채식 시장 중에서도 대체육 시장의 성장이 두드러집니다. 대체육은
                        동물을 죽여서 만드는 고기를 대체하기 위한 식품으로서 동물 세포를 배양하거나
                        식물 성분을 사용해 만들어지는데, 대체육 시장은 2018년에만 42억 달러 매출을
                        창출했고, 2023년에는 61억 규모로의 성장이 전망됩니다.(Research on Global
                        Markets)
                    </p>
                    <br /><br />

                    <p class="my-3 px-5" style="font-size: 1.5rem; font-family: NanumSquareRound;">
                        <b>채식주의의 확장</b>
                    </p>

                    <p
                        style="font-size: 1.2rem; font-family: NanumSquareRound; line-height: 40px;"
                        class="px-5 mb-5"
                    >
                        <b
                            >채식주의의 범위는 음식에만 국한되지 않고 패션, 화장품 등으로 더 넓게
                            확장될 수가 있습니다.</b
                        >
                        식이적 장애 말고도 개인의 신념이나 종교를 들어 채식을 실천하는
                        채식주의자들이 많은데요, 이들 중 다수가 환경보호나 동물권까지 관심을
                        기울이기 때문입니다. 근본적으로 동물 착취를 반대하거나 환경보호를 주장하는
                        움직임이라면 채식주의라는 이름이 함께 할 수가 있는 것입니다.

                        <br />동물 착취를 반대하는 자가 공장식 도축 시스템에 반대해 채식을
                        결심하거나 육우를 사육하는데 막대한 환경오염이 발생하는 것을 염려해 고기를
                        먹지 않는 것이 위의 예시입니다.
                        <b
                            >이렇듯 채식주의는 동물권 지지단체와 환경보호 단체와 연대하고 소통하며
                            식습관을 넘어선 하나의 생활방식으로 자리매김하고 있습니다.</b
                        >
                    </p>
                    <br /><br />

                    <img
                        src="../src/info_6.png"
                        class="mt-5 mb-5"
                        style="width: 50vw; height: 50vh;"
                    />
                    <p
                        class="d-flex justify-content-center mb-5"
                        style="font-family: NanumSquareRound; font-size: 1.2rem;"
                    >
                        (출처: GNU Solidario)
                    </p>
					
                </div>
            </div>
        </div>
    </div>
</div>